h1{
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: green;
}

h2{
    color: green;
}

p{
    color:azure;
}

.saucy{
    text-align: center;
}

body{
    background-image: url('images/hcomb.jpg');
}
